header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid black 2px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
}